header{
    height: 60px;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-menu-submenu {
    width: auto !important;
}

.navbar-mobile {
    height: calc(100vh - 70px);

    .ant-popover-content {
        height: 100%;
    }

    .ant-popover-inner {
        height: 100%;
        padding: 0px !important;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.header-visible {
    top: 0;
    transition: top 0.4s ease-out;
}
  
.header-hidden {
    top: -80px;
    transition: top 0.4s ease-out;
}