.tableOrder {
    height: calc(100% - 34px) !important;
}

.ant-spin-container {
    height: 100% !important;
}

.ant-table {
    height: 100% !important;
}

.ant-table-container { 
    height: 100% !important;
}

.ant-table-content{
    height: 100% !important;
}

.ant-spin-nested-loading {
    height: calc(100% - 34px) !important;
}