.tableOrder {
    height: calc(100% - 66px) !important;
    // overflow-y: auto;
}

.tableOrderWithPagination {
    height: calc(100% - 130px) !important;
    // overflow-y: auto;
}

.ant-spin-container {
    height: 100% !important;
}

.ant-table {
    height: 100% !important;
    overflow-y: auto;
}

.ant-table-container { 
    height: 100% !important;
}

.ant-table-content{
    height: 100% !important;
}