.checkout-page {
    .checkout-select {
        .ant-select-selection-item {
            font-weight: 600;
        }
    }

    .ant-collapse-header-text {
        font-weight: 700;
        color: #76a9fa;
    }

    .ant-collapse-extra {
        color: #f98080;
        font-weight: 700;
    }
}