@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// scrollbar

::-webkit-scrollbar {
  width: 0px !important;
}

.ant-table, .ant-tabs, .ant-select, .ant-input, .ant-btn, .ant-popover, .ant-menu, .ant-select-dropdown, .ant-card, .ant-radio {
  font-family: "Mulish", sans-serif !important;
}